
/*
 * style.css
 *
 * CSC309 PetPals Pet Creation Page
 * 
 * University of Toronto
 * Fall 2023
 *
 */
 
 html {
    background-color: #ECEBEA;
    font-family: 'Nunito Sans';
}

main {
    background-color: #ECEBEA;
}

body {
    background-color: #ECEBEA;
}

 .question {
    color: #77A0CA;
    font-family: 'Chewy';
    text-align: center;
    margin-top: 75px;
    font-style: normal;
}

h1 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}
 h2 {
    color: #0854A0;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
 }

 .container {
    background-color: #fff;
    height: fit-content;
    width: 80vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
     text-align: center;
     align-items: center;
     margin-bottom: 10vh;
 }

 .createPetForm {
     justify-content: center;
     text-align: center;
     align-items: center;
     width: 90%;
     height: 100%;
     padding: 36px;
 }

.form-control {
    border-radius: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Open Sans';
    background-color: #fafafa;
    font-size: 14px;
    padding: 12px;
}


.labelLeft {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #0854A0;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    
}


.nextButton {
    background-color: #0854A0;
    width: 100px;
    height: 40px;
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    border-radius: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nextButton:hover {
    background-color: #fff;
    width: 100px;
    height: 40px;
    color: #0854A0;
    border-color: #0854A0;
    border-width: 5px;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    border-radius: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.backButton {
    background-color: #6D6969;
    width: 100px;
    height: 40px;
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    border-radius: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.backButton:hover {
    background-color: #fff;
    width: 100px;
    height: 40px;
    color: #6D6969;
    border-color: #6D6969;
    border-width: 5px;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    border-radius: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}





.twoButtonPositions {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.descriptionLabel {
    display: flex;
    align-items: top;
    color: #0854A0;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 62.5% */
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}

.descriptionInput {
    border-radius: 10px;
    resize: none;
    font-family: 'Open Sans';
}

#buttonCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyLabel {
    margin: 0px;
    padding: 0px;
}


@media (max-width: 995px){

    .descriptionLabel {
        display: flex;
        justify-content: left;
        align-items: top;
        color: #0854A0;
        font-family: 'Nunito Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: left;

    }

    .labelLeft{
        display: flex;
        justify-content: left;
        align-items: center;
        color: #0854A0;
        font-family: 'Nunito Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: left;
    }
}