@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html {
  background: #ecebea;
}

main {
  background: #ecebea;
  overflow-x: hidden;
}

.headerBar {
  display: flex;
  background: #77a0ca;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  display: flex;
  padding: 12px 16px;
  gap: 4px;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: 100%;
  box-sizing: border-box;
}

#logoHeading {
  color: #fff;
  font-family: Chewy;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  margin: 0px;
}

.input-group {
  width: 600px;
  height: 60%;
  transition: transform 0.3s;
}

.input-group:hover {
  transform: scale(1.02);
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.25));
}

.input-group-append {
  height: 100%;
  align-items: center;
  justify-content: center;
}

#headerSearchBar {
  height: 100%;
  border-radius: 100px 0px 0px 100px;
  padding: 14px;
  border-right: none;
}

#headerSearchBar:focus {
  outline: 0 none !important;
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
  border-right: none !important;
  box-shadow: none !important;
}

.searchIcon {
  transition: transform 0.3s;
}

.searchIcon:hover {
  /* transform: scale(1.1); */
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.25));
}

#profileOptions {
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100px;
  height: 50px;
}

#profileOptions:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

@media (max-width: 300px) {
  #profileOptions {
    max-width: 0%;
  }
}
