.chatContainer {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 65vh;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  justify-content: space-between;
  /* overflow: scroll; */
}

.chatHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chatHeader h5 {
  font-size: 24px;
}

.noPerm {
  text-align: center;
}

.chatUserInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
}

.chatContent {
  display: flex;
  overflow: scroll;
  margin: 10px;
  flex-direction: column-reverse;
}

.closeIcon {
  cursor: pointer;
}

.btn {
  background-color: #0854a0;
  width: 150px;
  height: 40px;
  color: #fff;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  border-radius: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #0854a0;
  width: 150px;
  height: 40px;
  color: #fff;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  border-radius: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btn:active {
  background-color: #0854a0;
  width: 150px;
  height: 40px;
  color: #fff;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  border-radius: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.userText {
  background-color: #77a0ca;
  color: white;
  width: fit-content;
  max-width: 90%;
  height: fit-content;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  word-break: break-all;
}

.receiverText {
  background-color: #ecebea;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.textBody {
  margin-bottom: 40px;
}
p {
  margin: 0px;
}

.right {
  display: flex;
  justify-content: right;
}

.inputMessage {
  border-radius: 100px;
  margin-right: 12px;
  height: 40px;
  width: 85%;
  padding: 10px;
  font-size: 14px;
}
.inputText {
  display: flex;
  justify-content: center;
}

.sendButton {
  background-color: #0854a0;
  width: 65px;
  height: 40px;
  color: #fff;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  border-radius: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
